<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.yourname.TimeSyncHelper</string>
	<key>MachServices</key>
	<dict>
		<key>com.yourname.TimeSyncHelper</key>
		<true/>
	</dict>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier &quot;com.yourname.TimeSyncApp&quot; and anchor apple generic</string>
	</array>
</dict>
</plist>
